/* styles.css */

/***** student_form.html *****/
.form-body{
    padding: 10px;
}
.form-body p{
    margin-bottom:30px;
}

.frm label {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-right: 10px; /* Optional: Adjust spacing between label and input */
    /* padding-bottom: 20px; */
}

.frm input[type="text"],
.frm input[type="date"],
.frm select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;

}
input, textarea {
    border: 1px solid black ;
}
.verify-select-option{
    color:#6e7276;
}

/* Optional: Adjust styling for the submit button */
.frm input[type="submit"] {
    width: 100%; /* Adjust as needed */  
    padding: 10px 0px;
    margin-bottom: 50px 
}

.authority-checkbox {
    display: inline-block; /* Display the checkboxes inline */
    margin-right: 10px; /* Add some space between checkboxes */
  }
.courses{
    display: none;
    margin-top: 20px;
}

/******show_certificate.html******/
.bg-img {
    background-image: url('../images/GraduationCertificate.jpg');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
}


.certificate-id {
    text-align: right;
}
.certi-body{
    padding: 50px;
}

.certi-text {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.certificate-title h1 {
    margin-bottom: 0rem;
    letter-spacing: 5px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.certificate-title span {
    font-weight: 600;
    letter-spacing: 4px;
}

.certi-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: rgb(255, 166, 0);
    font-style: italic;

}

.certi-content {
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}

.certi-content span {
    font-weight: 500;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signature {
    font-style: italic;
}
.download {
    text-align: center;
}
/******certificate-verification.html ******/
.certifi-bg-img {
    overflow: hidden;
    background-image: url("{% static 'images/Graduation_CertificateQ.jpg' %}");
    height: 950px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.std_id p {
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    text-align: right;
    margin: 60px 0px 0px 700px;
}

.std_name h1 {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    color: #3c3a3f;
    margin-top: 308px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 30px;
}

.certi_details {
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
    color: #4e4d50;
    text-align: center;
    line-height: 2rem;
    margin: 0px 10px;
    padding: 0px 180px 0px 150px;

}

.certi_details span {
    font-weight: 900;
    color: #232324;
}

.footer-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0;
    width: 100%;
}

.date-sec p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: #232324;
    font-size: 1rem;
    margin-top: 113px;
    margin-left: 670px;
}

.download {
    text-align: center;
    margin-bottom: 10px;
}

.verification_link {
    margin-top: 90px;
}

.verification_link a {
    margin-top: 90px;
    color: rgb(2, 18, 80);
}

.verification_link a:hover {
    cursor: pointer;
    color: rgb(4, 38, 175);

}

.verify-main{
    border:0.2px solid #ccc;
    margin: 20px;
}
.verify-head{
    margin: 10px 30px;
    color: #414142;
    
    
}

.std_details{
    /* background-color: #ccc; */
    margin: 0px;
    padding: 30px 30px;
}

.std_details .sub-head{
    margin-left: 20px;
    color: #959595;
}
.std_details h5{
    margin-top: 10px;
    margin-left: 30px;
    color: #6e6a6a;
}
.std_certificate{
    margin: 0px 0px 0px 0px;
}
.certi-img{
    /* box-shadow: #ccc; */
    margin-top: 100px;
    background-image: url('../pictures/Certificate of Participation Blank With Seal.jpg');
    width: 532px;
    height: 376px;
    background-repeat: no-repeat;
    background-size: contain;
}
.sub-head{
    font-size: 1rem;
    color:#414142;
}
.certi_verify_id p{
    text-align: right;
    margin-right: 100px;
    font-size: 0.7rem;
    margin-top:30px;
}
.certi_verify_name{
    font-family: "MonteCarlo", cursive;
    text-align: center; 
    margin-top: 120px;  
}
.certi_verify_details p{
    text-align: center;
    font-size: 0.6rem;
    padding: 5px 50px;
}
.certi_verify_date{
    text-align: right;
    margin-right: 103px;
    margin-top: 35px;
    font-size: 0.7rem;
}
/* *****Registration.html****** */
.register{
    padding: 10px;
}
.register-form input[type="submit"],
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="email"],
.register-form label{
      width:100%;
      border: none !important;
      
}
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="email"]{
    padding-bottom: 15px;
    box-shadow: 1px solid #6e6a6a;
    background-color: #dadada;
    border-radius: 5px;
}
.register-form input[type="submit"]{
    padding-bottom: 15px;
}
.register-form label{
    margin-bottom: 10px;
    color: #778085;
    font-size: 1.2rem;
}
.form-body h5{
    text-align: center;
    margin: 0 0 50px 0;
    font-weight: 100;
    font-size: 60px;
    /* color: #615DEC; */
    color: #000000;
}

/* registration end */

/**** display_students.html****/
table, th, td {
    border: 1px solid #232324;
    margin:10px;
  }

  /**** login.html****/
  .acc-form{
    background-color: #cae8f5;
  }
  .login_frm input[type="submit"],
  .login_frm input[type="password"],
  .login_frm input[type="text"],
  .login_frm label{
        width:100%;
        border:none !important;
  }
  .login_frm input[type="text"],
  .login_frm input[type="password"]{
        padding-bottom: 15px;
        box-shadow: 1px solid #6e6a6a;
        background-color: #dadada;
        border-radius: 5px;
  }
  .login_frm input[type="submit"]{
    padding-bottom: 15px;
}
  .login_frm label{
    margin-bottom: 10px;
    color: #778085;
    font-size: 1.1rem;
}
  /* .signup_link{
    margin-top:30px;
  } */
.users-submit{
    margin-bottom: 20px;
  }
.helptext {
    display: none;
}

.register-form label{
    width: 40%;
}
.errorlist{
    list-style: none;
    text-align: center;
}
.dis-head {
    color: #060652;
    padding: 30px;
    
}
table{
    width: 100%;
}
thead{
    background-color: #060652;
    color: white;
}
.table-head-row{
    border: 1px solid #2828d1;
    padding: 10px;
}
th{
    padding: 20px;
}
tbody{
    background-color: #ffffff;
    text-align: center;
}
.table-body-row{
    border: 1px solid #b7b7f3;padding: 10px;
}
.std-dis-table{
    padding: 10px;
}
.generate-btn{
 color:white;
}
.csv_upload_form input{
    width:100%;
}
.nav_item a:active{
    color:#007bff;
}
/******** home.html *********/
.body-wrapper{
    background-color: #b7b7f3;
}
/******* courses.html ******/
.course-box{
    /* padding: 0px 0px 0px 0px; */
    min-height: 90%;
}

.dashboard-btn{
    color: white !important;
}
.internship_link:hover{
 cursor: pointer;
}
@media (min-width: 992px) and (max-width: 1519px) {
    .overview-item {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}
/***** table.html *****/

.table-responsive{
    height: 400px;
    overflow-y: visible;
}
#searchIcon{
    cursor:pointer;
}
/********Search_results.html  *******/

.search-results{
    margin: 50px 50px 0px;
}
.search-results ul{
    list-style: none;
}
.result-details li{
    line-height: 2rem;
}
li{
    list-style: none;
}
.certify-logo{
    padding: 0px 0px 0px 0px;
    margin-bottom: 50px;

}
/* #courseDropdown {
    display: none;
} */
/* #certificatetypeDropdown{
    margin-bottom: 10px;
} */

/***  certificate_verify_form.html ***/

.certi-verify-form{
    background-color: aliceblue;
}
/* **  certificate form course card** */
.course-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .course-card a{
    color: white;
  }
  .course-card a:hover{
    color: white;
  }
  .course-cards .red {
    background-color: #f43f5e;
  }
  
  .course-cards .blue {
    background-color: #3b82f6;
  }
  
  .course-cards .green {
    background-color: #22c55e;
  }
  .course-cards .yellow {
    background-color: #d5c42c;
  }
  .course-cards .course-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .course-cards .course-card p.tip {
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .course-cards .course-card p.second-text {
    font-size: 1.1rem;
  }
  
  .course-cards .course-card:hover {
    transform: scale(1.1, 1.1);
  }
  
  /* .course-cards:hover > .course-card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  } */

  