/* styles.css */

/***** student_form.html *****/
.form-body{
    padding: 10px;
}
.form-body p{
    margin-bottom:30px;
}
input[type="submit"] .btn.btn-primary {
    margin-right: 100px;
}
@media (min-width: 450px) {
    .form-body p label {
        width: 40% !important;
    }
    .form-body p input[type="label"],
    .form-body p input[type="text"], .form-body p input[type="date"], .form-body p select {
        width: 50% !important;
    }
    div.form-body p select {
        width: 50% !important;
    }
    input[type="submit"].btn.btn-primary {
        margin-right: 100px;
    }
    
    .form-body{
        padding: 30px;
    }
}

/******certificate_display.html******/
.bg-img {
    background-image: url('../images/16763422_tp204-certificate.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
}


.certificate-id {
    text-align: right;
}
.certi-body{
    padding: 50px;
}

.certi-text {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.certificate-title h1 {
    margin-bottom: 0rem;
    letter-spacing: 5px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.certificate-title span {
    font-weight: 600;
    letter-spacing: 4px;
}

.certi-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: rgb(255, 166, 0);
    font-style: italic;

}

.certi-content {
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}

.certi-content span {
    font-weight: 500;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signature {
    font-style: italic;
}
.download {
    text-align: center;
}
/******certificate-verification.html ******/
.verify-main{
    padding: 50px;
}
.verify-student-details{
    background-color: beige;
    padding: 50px;
}
body {
    background-color: #e7e5e5;
    margin: 0;
}

.bg-img {
    background-size: 100% auto;
    overflow: hidden;
    background-image: url("{% static 'images/Graduation_Certificate(3).png' %}");
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    padding: 0px;
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.std_id p {
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    text-align: right;
    margin: 40px 0px 0px 150px;
}

.std_name h1 {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    color: #3c3a3f;
    margin-top: 160px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 220px;
}

.certi_details {
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
    color: #4e4d50;
    text-align: justify;
    line-height: 1.5rem;
    margin: 0px 10px;
    padding: 0px 300px 0px 50px;
}

.certi_details span {
    font-weight: 900;
    color: #232324;
}

.footer-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0;
    width: 100%;
}

.date-sec p {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    color: #232324;
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 190px;
}
