{% extends 'base.html' %}
{% load static %}
{% block body %}


<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1 mb-3">Certificates Data</h2>

                    </div>
                </div>
            </div>
            <div class="row mt-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1 course-box">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">

                                <div class="text">
                                    <a href="{% url 'display_students' %}" class="internship_link" id="internship">
                                        <h2>Internship</h2>
                                        <span>Certificate</span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2 course-box">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">

                                <div class="text">
                                    <a href="{% url 'display_students' %}" class="internship_link" id="workshop">
                                        <h2>Workshop</h2>
                                        <span>Certificate</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4 course-box">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">

                                <div class="text">
                                    <a href="{% url 'display_iv_students' %}" class="internship_link" id="industrial">
                                        <h2>Industrial Visit</h2>
                                        <span>Certificate</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3 course-box">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="text">
                                    <a href="{% url 'display_tronix_students' %}" class="internship_link" id="tronix">
                                        <h2>Tronix</h2>
                                        <span>Certificate</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1 course-box">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="text">
                                    <a href="{% url 'display_students' %}" class="internship_link" id="summercamp">
                                        <h2>Summer camp</h2>
                                        <span>Certificate</span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->


{% endblock %}