{% extends 'base.html' %}
{% block body %}

<div class="container verify-main ">
    <div class="row">

        <div class="col-md-6 col-lg-6 text-left p-2">
            <div class="verify-head">
                <h2>Verified Certificate</h2>
            </div>
            <div class="std_details">
                <div class="mb-5">
                    <p class="sub-head mb-1 p-0">This certificate was issued for: </p>
                    <h5>{{student_instance.name|capfirst}}</h5>
                </div>
                <div class="mb-5">
                    <p class="sub-head mb-1 p-0">Certification: </p>
                    <h5>{{student_instance.course|capfirst}}</h5>
                </div>
                <div class="mb-5">
                    <p class="sub-head mb-1 p-0">Issue date: </p>
                    <h5>{{student_instance.end_date|capfirst}}</h5>
                </div>
                <div class="mb-5">
                    <p class="sub-head mb-1 p-0">Certificate Id: </p>
                    <h5>{{student_instance.id}}</h5>
                </div>

            </div>

        </div>
        <div class="col-md-6 col-lg-6 text-center p-2">
            <div class="std_certificate">
                <div class="certi-img">
                    <div class="certi_verify_id">
                        <p>SRC/2024/{{ student_instance.id }}</p>
                    </div>
                    <div class="certi_verify_name">
                        <h1>{{student_instance.name|capfirst}}</h1>
                    </div>
                    <div class="certi_verify_details">
                        <p>Student of <b>{{student_instance.college_name}}</b>, has successfully
                            completed the academic internship program at SinroRobotics Pvt
                            Ltd in <b>{{student_instance.course}}</b> under the guidance
                            of {{student_instance.mentor_name}}. The internship spanned from <b>
                                {{student_instance.start_date}}</b>
                            to <b> {{student_instance.end_date}}</b>.</p>
                    </div>
    
                    <div class="certi_verify_date">
                        <p class="date">{{student_instance.end_date}}</p>
                    </div>
            
                    <div class="certi_verify_qrcode">
                        <img src="{{ qr_code_path }}" alt="QR Code">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
<!-- <div class="col-md-6 col-lg-6 mt-5 p-5">
            <i class="fa-regular fa-circle-check"></i>
            <h1>{{student_instance.name}}</h1>
            <p>{{student_instance.end_date}}</p>

        </div>

        <div class="col-md-6 col-lg-6 mt-5 ">
                    <div class="bg-img">
                        <div class="std_id">
                            <p>SRC/2024/{{ student_instance.id }}</p>
                        </div>
                        <div class="std_name">
                            <h1>{{student_instance.name|capfirst}}</h1>
                        </div>
                        <div class="certi_details">
                            <p>Student of <span>{{student_instance.college_name}}</span>, has successfully
                                completed the academic internship program at SinroRobotics Pvt
                                Ltd in <span>{{student_instance.course}}</span> under the guidance
                                of {{student_instance.mentor_name}}. The internship spanned from <span>
                                    {{student_instance.start_date}}</span>
                                to <span> {{student_instance.end_date}}</span>.</p>
                        </div>
                        <div class="footer-sec">
                            <div class="date-sec">
                                <p class="date">{{student_instance.end_date}}</p>
                            </div>
                        </div>
                        <div class="verification_link">
                            <a href="{% url 'certificate_verify' student_instance.id %}">https://sinrobotics/{{ student_instance.id }}</a>
                        </div>
                        
                    </div>
                
               
        </div> -->
<!-- <div class="col-md-6 verified-certificate mt-5 ">
            <div class="card">
                <div class="card-body certi-body p-5">
                    <div class="certificate-id">
                        <p>SRC/2022/{{ student_instance.id }}</p>
                    </div>
                    <div class="logo text-center mb-3">
                        <img src="" alt="logo">
                    </div>
                    <div class="certificate-title text-center mb-4">
                        <h1>CERTIFICATE</h1>
                        <span>OF PARTICIPATION</span>
                    </div>
                    <div class="certi-text text-center">
                        <p>PROUDLY PRESENTED TO</p>
                    </div>
                    <div class="certi-name text-center">
                        <p>{{student_instance.name}}</p>
                    </div>
                    <div class="certi-content">
                        <p>8th semester B. Tech Naval Architecture and Ship Building Engineering student of
                            <span>{{student_instance.college_name}}</span> workshop conducted by <span>Sinro Robotics PVT. LTD.</span>
                            under the guidance of <span>{{student_instance.mentor_name}}</span> (Dept lead) <span>On {{student_instance.end_date}}</span>
                        </p>
                    </div>
                    <div class="bottom-section">
                        <div class="date-sec">
                            <span class="date">{{student_instance.end_date}}</span>
                            <div class="divider"></div>
                            <p>DATE</p>
                        </div>
            
                        <img src="your-logo.png" alt="Logo" class="logo">
                        <div class="signature-sec">
                            <div class="divider"></div>
                            <span class="signature">Signature</span>
                        </div>
            
                    </div>
                    <div class="verification-link text-center mt-3">
                        <a href="">https://sinrobotics//{{ student_instance.id }}</a>
                    </div>
                </div>
            </div>
        </div> -->