{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="card text-justify mt-5">
                <div class="card-body form-body p-5">
                    <h5 class="card-title text-center">Login Form</h5>
                    <p class="card-text">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="submit">
                    </form>
                    <div class="mb-3">
                        <p> Not registered ? <a href="{% url 'register' %}" >Sign up</a></p>
                    </div>
                    </p>
                </div>
            </div>
            <div class="error_msg">
                {% if error_msg %}
                <p>{{error_msg}}</p>
                {% endif %}
            </div>


        </div>
    </div>
</div>

{% endblock %}