{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-justify mt-5">
        <div class="card-body form-body p-5">
          <h5 class="card-title text-center">Registration Form</h5>
          <p class="card-text">
          <form method="post" action="" >
            {% csrf_token %}
             {{ form.as_p }}
            <input class="btn btn-primary users-submit" type="submit" value="submit">
          </form>
          <p>alreday have account? <a href="{% url 'login' %}">Login</a></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}